
@{
    ViewBag.Title = "DeneyimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
</br>
<form method="post" class="form-group">
    </br>
    <h4>Yeni Deneyim Ekleme Sayfası</h4>
    <input type="text" name="Baslik" class="form-control" placeholder="Başlık Ekleyin" />
    </br>
    <input type="text" name="AltBaslik" class="form-control" placeholder="Alt Başlık Ekleyin" />

    </br>
    <input type="text" name="Tarih" class="form-control" placeholder="Tarih Ekleyin" />

    </br>
    <textarea placeholder="Açılama Ekleyin" name="Aciklama" class="form-control" rows="5"></textarea>
    </br>
    <button class="btn btn-primary"> Kaydet</button>
</form>
