
@{
    ViewBag.Title = "YeniYetenek";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

</br>
<form method="post" class="form-group">
    </br>
    <h4>Yeni Yetenek Ekleme Sayfası</h4>
    <input type="text" name="Yetenek" class="form-control" placeholder="Yetenek Ekleyin" />
    </br>
    <input type="text" name="Oran" class="form-control" placeholder="Oran Ekleyin" />

    </br>
    <button class="btn btn-primary"> Kaydet</button>
</form>

