@model  MvcCv.Models.Entity.TblYeteneklerim
@{
    ViewBag.Title = "YetenekGuncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />

<h3 class="container"> Deneyim Güncelleme Sayfası</h3>
<form method="post" class="form-control-feedback">
    @Html.HiddenFor(x => x.ID)
    <label>Yetenek</label>
    @Html.TextBoxFor(x => x.Yetenek, new { @class = "form-control" })
    <br />
    <label>Oran</label>
    @Html.TextBoxFor(x => x.Oran, new { @class = "form-control" })
    <br />
   
    <button class="btn btn-info">Kaydet</button>

</form>

