﻿@model MvcCv.Models.Entity.TblSertifikalarim

@{
    ViewBag.Title = "SertifikaEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />

<h3 class="container">Yeni Sertifika Ekleme Sayfası</h3>
<form method="post" class="form-control-feedback">
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })

    <br />
    <label>Tarih</label>
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
   
    <button class="btn btn-info">Kaydet</button>

</form>
